*{
  box-sizing: border-box;
  padding: 0;
  margin: 0%;
  font-family: poppins, sans-serif;
  text-decoration: none;

}
body{
  overflow: hidden;
  color: #fff;
}
.hero-header{
  height: 100vh;
  width: 100%;
  background: #222;
  min-height: 100vh;

}
.wrapper{
  max-width: 1280px;
  margin: auto;
  width: 1280px;
  padding: 0 20px;
}
header{
  padding: 4px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
 
}

.logo{
  display: inline-flex;
  justify-content: center;
  align-items: center;

}

nav{
  display: flex;
  align-items: center;
}

.nav-links{
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a{
  color: #fff;
  font-weight: 600;
}
nav .togglebtn{
  width: 35px;
  height: 35px;
  position: absolute;
  top: 45px;
  right: 3%;
  z-index: 5;
  cursor: pointer;
  background-color: blue;
  display: none;
}
nav .togglebtn span{
  height: 4px;
  width: 100%;
  background-color: #003cff;
  display: block;
  margin: 5px 0;
  transition: 0.3s;
  transition-property: none;
}
nav .nav-links{
  list-style: none;
}
nav .nav-links li{
  color: #e5e5e5;


  margin-right: 2.5rem;
}
.container{
 padding-top: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container .hero-pic{
  width: 300px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 15px solid #00196d;
  box-shadow: 5px 7px #00196d;

}